/*header */
.header-search-box {
    min-width: 295px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 295px;
    flex: 1 0 295px;
    margin-left: 45px;
     margin-right: 0;
     padding-right: 0;
    position: relative;
}
.header-search-box:before {
    background: none;
}
/**/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed' !important;
}
.section-title h2 {
    text-transform: none;
}
/**/
.top-bar-right .product-short {
    justify-content: flex-end;
    width: 100%;
}

/**/
.forget-pwd{
    width: 100%;
    text-align: right;
}
.wp-user{
    width: 60%;
    margin:0 auto;
}
.about-text-wrap .info{
    padding-left: 20px;
}
.about-text-wrap .info p{
    padding-left: 15px;
    position: relative;
    line-height: 30px;
}
.about-text-wrap .info p:before{
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 10px;
    position: absolute;
    top:0;
    left: 0;
}
.title-page{
    font-size: 20px;
    color: #f1c40f;
    padding: 20px 0;
}
